extends app

block INDEX
    s_t3
        include views/header
        include views/content
        include views/footer

    style.
        a {
            text-decoration: none;
        }
        img, fieldset {
            border: none;
            vertical-align: top;
        }