main
    s_cover_group
        include content/cover/timer
        section
            div(style='background-color:skyblue; height:600px;')
            div(style='background-color:blue; height:600px;')
            div(style='background-color:gray; height:600px;')
